body {
    direction: ltr;
    text-align: left;
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
}

img {
    max-width: 100%;
}


.Navbar {
    box-shadow: 0 10px 29px 0 rgb(33 43 70 / 10%);
    padding: 15px !important;
}
